.Features {
  width: 1200px;
  height: 357px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  margin: 0 auto;
  background-color: var(--grey80); // основной фон секции

  &__card {
    width: 324px;
    margin-top: 42px;
  }

  &__title {
    font-size: 20px;
    color: var(--white); // заменили var-white на правильную переменную
    font-weight: 500;
    margin-top: 42px;
  }

  &__des {
    margin-top: 12px;
    font-size: 14px;
    line-height: 28px;
    color: var(--grey2); // заменили var-grey1 на семантическую переменную
    font-weight: 300;
  }
}
