@use "../../style/reset.scss"   as *;
@use "../../style/datastyles" as *;

.buttonSwitch {
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-family: "Damion", cursive;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: var(--text-color);
  transition: 500ms;
}


.buttonSwitch:hover { 
  color: var(--text-color);
  transition: 500ms;
}
