@font-face {
  font-family: 'chakra';
  src: url('./fonts/ChakraPetch-Regular.ttf') format('ttf'); 
  font-weight: normal;
  font-style: normal;
}

/* Дефолтные переменные — обычно светлая тема */
/* === Дефолтная тема (Dark) === */
:root {
  /* Семантические переменные */
  --bg-color: var(--black100);
  --text-color: var(--white);
  --secondary-color: var(--grey1);
  --card-bg: var(--black50);
  --accent-color: var(--blue);

  /* Цветовые переменные (базовые) */
  --white: #ffffff;
  --black100: #18181B;
  --black50: #252532;
  --grey1: #B0B0B2;
  --grey2: #D1D1D1;
  --grey80: #252532;
  --blue: #19B5F1;
  --purple: #CA6AEB;
  --gradient: linear-gradient(90deg, rgba(12,186,241,1) 0%, rgba(233,92,233,1) 100%);

  --service-bg: rgba(37, 37, 50, 0.6);
}


[data-theme='light'] {
  --bg-color: var(--white);
  --text-color: var(--black100);
  --secondary-color: var(--grey1);
  --card-bg: #f3f3f3;
  --accent-color: var(--blue);

  --grey1: #070707;
  --secondary-color: #292929

  --service-bg: rgba(240, 240, 240, 0.9);
}




@mixin gradient-border($radius: 0px) {
  position: relative;
  border: 1px solid transparent;
  z-index: 0;
  border-radius: $radius;

   &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    background: var(--gradient);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    mask-composite: exclude;
    z-index: -1;
    pointer-events: none;
  }
}

@mixin gradient-text() {
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
