@use '../../../../style/_datastyles.scss' as *;

.serviceBlock {
  width: 379px;
  height: 291px;
  background: var(--grey80);
  padding-left: 32px;

  &__image {
    margin-top: 38px;
    margin-left: 0;
  }

  &__title {
    margin: 60px 0 0 0;
    color: var(--white);
    font-size: 20px;
    font-weight: 500; // чуть жирнее для контраста
  }

  &__description {
    margin: 12px 0 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: var(--grey2);
  }
}
