@use '../../../../style/_datastyles.scss' as *;

.serviceBlock {
    width: 379px;
    height: 291px;
    background: rgba(37, 37, 50, 0.60);
    font-family: "chakra";
    
    &__image {
        margin: 38px 0 0 32px;
       
    }
    
    &__title {
        margin: 60px 0 0 32px;
        color: $white;
        font-size: 20px;
        font-weight: 400;

    }
    
    &__description {
        margin: 12px 0 0 32px;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        color: $grey1;
    }
    
    
} 