@use '../../../../style/datastyles' as *;

.mainContainer {
  width: 1300px;
  height: 700px;
  margin: 149px 0 0 120px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.text {
  color: transparent;
  background: var(--gradient); // или var(--gradient), проверь datastyles
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 160px;
  font-family: "chakra";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.24px;
  text-transform: uppercase;
}

.title {
  font-size: 48px;
  width: 548px;
  padding: 12px 0 32px 0;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.02em;
  color: var(--text-color);
}

.imgContainer {
  width: 548px;
  height: 100%;
  // display: flex; // если понадобятся flex свойства — раскомментируй
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 172px;
}

.imgWrapper {
  position: relative;
  width: 100%; // добавь размеры для правильного позиционирования
  height: 700px; // или подгони под содержимое
}

.imgWrapper > img {
  position: absolute;
}

.img1 {
  top: 0;
  left: 0;
  z-index: 99;
}

.img2 {
  top: 165px;
  left: 60px;
  z-index: 98;
}

.img3 {
  top: 571px;
  left: 282px;
  z-index: 100;
}

.img4 {
  width: 364.621px;
  height: 608.059px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 96;
  background: var(--gradient);
  transform: rotate(-90deg);
  filter: blur(105px);
}
