@use "../../../style/datastyles" as *;

.header {
  display: flex;
  width: 1440px;
  height: 52px;
  justify-content: center;
  align-items: center;


  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 114px;
  }

  &__state__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 165px;
    position: relative;
    transform: scale(1.1);
  }

  .back {
    background: var(--gradient);
    width: 70px;
    height: 30px;
    position: absolute;
    z-index: -1;
    filter: blur(25px);
  }

  .backGradient {
    background: var(--gradient);
    width: 110px;
    height: 30px;
    position: absolute;
    z-index: -1;
    filter: blur(25px);
  }


  &__links {
    > ul {
      display: flex;
      gap: 64px;
      list-style: none;
      color: var(--text-color);

      > li {
        font-size: 16px;
        line-height: 28px;
        font-weight: 200;
        position: relative;
        cursor: pointer;
        &:hover {
          visibility: visible;
          opacity: 1;
          z-index: 1;
          filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
        }
      }


      &:nth-child(1) {
        margin-left: 264px;
      }
    }
  }

  &__contactus {
    margin-left: 15px;
    z-index: 1;
     


    &:hover {
      visibility: visible;
      opacity: 1;
      z-index: 1;
      cursor: pointer;
      filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
    }

    &:active {
      color: var(--text-color);
      font-weight: 700;
      filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.6));
    }

  }
}

.link--active {
  color: var(--text-color);
  font-weight: 700;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}

.pagebutton__main--option {
  color: var(--text-color);
  font-size: 16px;
  line-height: 28px;
  font-weight: 200;

  &:hover {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
  }
}
