@use '../../../../style/_datastyles.scss' as *;

.email {
  width: 1200px;
  height: 185px;
  background: var(--gradient); // ← заменил linear на акцентную переменную
  margin: 60px 120px 65px 120px;
  box-sizing: border-box;
  font-family: chakra;
  display: flex;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__title {
    font-family: chakra;
    font-size: 40px;
    font-weight: 600;
    line-height: 58px;
    width: 520px;
    color: var(--text-color);
    margin-left: 74px;
  }

  &__inputContainer {
    margin-left: 167px;
  }

  &__inputIcon {
    margin-left: 14px;
  }

  &__inputText {
    margin-left: 8px;
    color: var(--text-color);

    &::placeholder {
      color: var(--secondary-color); // ← более мягкий оттенок
    }
  }

  &__inputButton {
    margin-left: 30px;
    background: transparent; // ← смысловая переменная
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }

  &__input {
    background: rgba(255, 255, 255, 0.1); // ← замена прозрачного rgba на переменную
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 300px;
    border-radius: 10px;
  }
}

input {
  all: unset;
}
